// ----------------------------------------------------------------------------
// Widget-stgarage styles
// ----------------------------------------------------------------------------
@import "/app/assets/stylesheets/themes/current.scss";

.widget-stgarage {
    background-color: $background-color-action !important;

    .icon-open {
        color: #888;
    }

    .icon-opening {
        color: #aaff00;
    }

    .icon-closing {
        color: #aaff00;
    }

    .icon-closed {
        color: #fff;
    }
}
