// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
@import "/app/assets/stylesheets/themes/current.scss";

.widget-stlock {
    background-color: $background-color-action !important;

    .icon-unlocked {
        color: #888;
    }

    .icon-locked {
        color: #fff;
    }
}
